body {
    background-image: linear-gradient(135deg, transparent 0%, transparent 6%, rgba(71, 71, 71, 0.04) 6%, rgba(71, 71, 71, 0.04) 22%, transparent 22%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 20%, rgba(71, 71, 71, 0.04) 20%, rgba(71, 71, 71, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 24%, rgba(71, 71, 71, 0.04) 24%, rgba(71, 71, 71, 0.04) 62%, transparent 62%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 73%, rgba(71, 71, 71, 0.04) 73%, rgba(71, 71, 71, 0.04) 75%, transparent 75%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-repeat: no-repeat;
}

.contact_title {
    font-family: Monospace;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(38, 92, 64)
}


.contact {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: darkblue;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.contact:hover {
    color: #e8e8e8;
}

.contact:hover::before {
    width: 100%;
}

.contact_title_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#add_contact {
    min-height: 400px;
    margin-bottom: 3rem;
}

#add_contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_contact_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    background: transparent;

}

.input:focus {
    outline: none;
}

.search_button {
    width: 20px;
    cursor: pointer;
}

.contactDiv {
    border: 1px solid black;
    min-width: 1000px;
}

.email {
    display: none;
}

#add_contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img {
    width: 50px;
    padding: 1rem;
}

.description {
    word-break: break-all;
    width: 300px;
}

.down {
    width: 20px;
    cursor: pointer;
}


.item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.descriptionDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description {
    min-width: 200px;
}

.description_p {
    text-align: center;
}

.email_p {
    text-align: center;
}

.icon {
    display: flex;
    gap: 1rem;
}

.data_description {
    display: flex;
    justify-content: space-around;
}

.save {
    display: none;
}

.panel {
    text-align: center;
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
}

.panel.active {
    height: 100px;
}

.checkpanel_container {
    display: flex;
    justify-content: center;
}

.panel1 {
    display: none;
    background-color: green;
    justify-content: center;
    border-radius: 10px;
    width: 100px;
}

.panel2 {
    display: none;
    background-color: red;
    width: 100px;
    border-radius: 10px;

}

.inputedit {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    text-align: center;
}

.panel {
    animation-name: div;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

@keyframes div {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(100);
    }

}


.contact_title_container {
    position: relative;
}

.checkpanel_container {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    z-index: 1;
    display: flex;
    justify-content: center;
}